.deal{
    background-color:gold;
    height: 25px;

}
.completed{
    background-color: green;
}
.remove-button {
    position: absolute;
    font-size: 110%;
    /* top: 0; */
    color: darkred;
    right: 10px;
    /* display: block; */
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
  }